body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin-top: 40vh;
}

button {
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  background-color: aliceblue;
}

button:hover {
  background-color: lightskyblue;
}

.results {
  text-align: center;
  font-size: 20px;
}

#winner {
  font-size: 30px;
  font-weight: bold;
}

#rounds {
  margin: 15px;
}
